ul {
    list-style: none;
    li {
        a {
            text-decoration: none;
            color: #1a1a1a;
        }
    }
}

.header {
    width: 100%;
    box-shadow: 0px 2px 4px -1px;
    box-sizing: border-box;

    .container {
        width: 1250px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
        @include responsive ("medium") {
            width: 100%;
        }
    }
    &__left {
        justify-content: left;
        h1 {
            line-height: 30px;
            color: #157eff;
            font-size:40px;
            @include responsive ("medium") {
                font-size: 25px;
                padding-left: 10px;
            }
        }
    }
    &__nav {
        @include responsive ("medium") {
            display: none;
        }
        .nav__bar {
            display: inline-flex;
            .nav__item {
                align-items: center;
                position: relative;
            }
            .nav__item.active::after {
                content: "";
                display: block;
                height: 3px;
                width: 100%;
                background-image: linear-gradient(#157eff, #157eff);
                transition: all 1s;
            }
            .nav__item::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                bottom: -37px;
                width: 0%;
                height: 2px;
                background-image: linear-gradient(#157eff, #157eff);
                transition: all linear 0.3s;
            }
            .nav__item:hover::after {
                width: 100%;
            }

            li {
                margin-left: 2rem;
                a {
                    line-height: 25px;
                    font-size: 15px;
                }
            }
        }
    }
    &__right {
        @include responsive ("medium") {
            display: none;
        }
        .nav__right {
            display: flex;
            li {
                margin-left: 2rem;
            }
        }
    }
    &__buger {
        @include responsive ("medium") {
            display: block;
            z-index: 1;
        }
        display: none;
        text-align: center;
        cursor: pointer;
        margin-top: 15px;
        
        .nav-mobile-text {
            color: #000;
            text-decoration: none;
            
        }
    }
}
